name: Health
# Check modules health on registry.coder.com
on:
  schedule:
    - cron: "*/13 * * * *" # Runs every 13th minute
  workflow_dispatch: # Allows manual triggering of the workflow if needed

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run check.sh
        run: |
          ./.github/scripts/check.sh
