name: ci

on:
  push:
    branches:
      - main

  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: coder/coder/.github/actions/setup-tf@main
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Setup
        run: bun install
      - run: bun test
  pretty:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed to get tags
      - uses: coder/coder/.github/actions/setup-tf@main
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Setup
        run: bun install
      - name: Format
        run: bun fmt:ci
      - name: typos-action
        uses: crate-ci/typos@v1.27.3
      - name: Lint
        run: bun lint
      - name: Check version
        shell: bash
        run: |
          # check for version changes
          ./update-version.sh
          # Check if any changes were made in README.md files
          if [[ -n "$(git status --porcelain -- '**/README.md')" ]]; then
            echo "Version mismatch detected. Please run ./update-version.sh and commit the updated README.md files."
            git diff -- '**/README.md' 
            exit 1
          else
            echo "No version mismatch detected. All versions are up to date."
          fi
