name: ci

on:
  push:
    branches:
      - main

  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Terraform
        uses: coder/coder/.github/actions/setup-tf@main
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          # We're using the latest version of Bun for now, but it might be worth
          # reconsidering. They've pushed breaking changes in patch releases
          # that have broken our CI.
          # Our PR where issues started to pop up: https://github.com/coder/modules/pull/383
          # The Bun PR that broke things: https://github.com/oven-sh/bun/pull/16067
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Run tests
        run: bun test
  pretty:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed to get tags
      - uses: coder/coder/.github/actions/setup-tf@main
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Setup
        run: bun install
      - name: Format
        run: bun fmt:ci
      - name: typos-action
        uses: crate-ci/typos@v1.31.2
        with:
          config: .github/typos.toml
      - name: Lint
        run: bun lint
